{% extends 'front/main.html' %}



<!--Block content goes below-->
{% block content %}


            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>
            <h1>product page</h1>




        {% endblock %}