<!-- Footer -->
<footer class="page-footer font-small cyan darken-3" >

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12  py-5">
        <h3 class="text-center">Made with <i class="fas fa-heart red-text mx-1"></i> by MyTeam</h3>
        <div class="mb-5 flex-center">

          <!--Github-->
          <button type="button" class="btn  btn-lg btn-git"><i class="fab fa-github pr-1"></i> Github</button>
          <!--Telegram-->
          <button type="button" class="btn  btn-lg btn-li"><i class="fab fa-telegram pr-1"></i> Telegram</button>

        </div>
      
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright py-3 text-center" id="contact">
    <div class="container-fluid">
      © 2019 Copyright: <a href="#" > <strong>!</strong>mage<strong>Restrotaion</strong> </a>
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

