<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light white wow fadeIn scrolling-navbar" data-wow-delay="0.1s"  >
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect blue-text " href="/" target=""><strong>!mageRestoration</strong>
      
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Application
          </a>
          <div class="dropdown-menu dropdown-default"  aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="/denoising#">Denoising</a>
            <a class="dropdown-item" href="/superr">Super Resolution</a>
            <a class="dropdown-item" href="/inpainting">npainting</a>
          
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="#" data-page="about" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="#" data-page="about" >Contact</a>
        </li>
        
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->